body {
  background: #020617;
  color: #e5e7eb;
  font-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #020617;
}

.navbar a {
  margin: 0 15px;
  color: #22c55e;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 120px;
}

button {
  padding: 10px 25px;
  background: #22c55e;
  border: none;
  cursor: pointer;
}

/* Animations */
.fade { animation: fade 2s; }
.slide { animation: slide 1.5s; }
.bounce { animation: bounce 2s infinite; }
.zoom { animation: zoom 1.5s infinite alternate; }
.rotate { animation: rotate 3s linear infinite; }

@keyframes fade { from{opacity:0} to{opacity:1} }
@keyframes slide { from{transform:translateY(40px)} to{transform:translateY(0)} }
@keyframes bounce { 50%{transform:translateY(-15px)} }
@keyframes zoom { from{transform:scale(1)} to{transform:scale(1.1)} }
@keyframes rotate { to{transform:rotate(360deg)} }

.services a {
  display: block;
  margin: 15px;
  padding: 15px;
  background: #1e293b;
  color: white;
  transition: 0.3s;
}

.services a:hover {
  background: #22c55e;
  color: black;
}
